{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<form id="trigger" action="{{ actionurl }}" method="post">
    {% csrf_token %}
    {{ triggerform }}

    <fieldset>
        <legend>Conditions</legend>

        <div id="conditions">

            {{ rangeformset.management_form }}

            {% for form in rangeformset %}
                {% partialdef rangeformset inline %}
                    <fieldset class="numericrangecondition deleteable transition-opacity">
                        <legend>Numeric range</legend>
                        {{ form }}
                    </fieldset>
                {% endpartialdef %}
            {% endfor %}

            {% with form=rangeformset.empty_form %}
                <template id="numericrangecondition-template">{% partial rangeformset %}</template>
            {% endwith %}

            {{ booleanformset.management_form }}

            {% for form in booleanformset %}
                {% partialdef booleanformset inline %}
                    <fieldset class="booleancondition deleteable transition-opacity">
                        <legend>Boolean</legend>
                        {{ form }}
                    </fieldset>
                {% endpartialdef %}
            {% endfor %}

            {% with form=booleanformset.empty_form %}
                <template id="booleancondition-template">{% partial booleanformset %}</template>
            {% endwith %}

            {{ equalityformset.management_form }}

            {% for form in equalityformset %}
                {% partialdef equalityformset inline %}
                    <fieldset class="equalitycondition deleteable transition-opacity">
                        <legend>Equality</legend>
                        {{ form }}
                    </fieldset>
                {% endpartialdef %}
            {% endfor %}

            {% with form=equalityformset.empty_form %}
                <template id="equalitycondition-template">{% partial equalityformset %}</template>
            {% endwith %}
        </div>

        <ul>
            <li><a class="fieldset-add" template="numericrangecondition-template" parentnode="conditions" counter="id_{{ rangeformset.prefix }}-TOTAL_FORMS">Add numeric range condition</a></li>
            <li><a class="fieldset-add" template="booleancondition-template" parentnode="conditions" counter="id_{{ booleanformset.prefix }}-TOTAL_FORMS">Add boolean condition</a></li>
            <li><a class="fieldset-add" template="equalitycondition-template" parentnode="conditions" counter="id_{{ equalityformset.prefix }}-TOTAL_FORMS">Add equality condition</a></li>
        </ul>
    </fieldset>

    <div id="telescope-selector" class="hidden">
        <label for="telescope-selector">Telescope configuration:</label>
        <select>
            <option value="">&mdash;</option>
            {% for shortname, name, _ in telescopes %}
                <option value="{{ shortname }}-telescope">{{ name }}</option>
            {% endfor %}
        </select>
        <div class="helptext">Choose a downstream telescope configuration.</div>
    </div>

    <div id="telescopes">
        {% for _, _, formset in telescopes %}
            {{ formset }}
        {% endfor %}
    </div>

    <div class="submits">
        <input type="submit" value="Save">
        {% if trigger.id %}
            <input type="submit" formaction="{% url 'triggerdelete' id=trigger.id %}" value="Delete" onclick="return confirm('Are you sure you want to delete this trigger?')">
        {% endif %}
    </div>
</div>
</form>
{% endblock %}