[Unit]
Description=TraceT (Gunicorn)
After=tracet.service
WantedBy=tracet.service
PartOf=tracet.service

[Service]
Type=simple
WorkingDirectory=/home/debian/TraceT/deploy
ExecStart=/usr/bin/podman compose --profile prod up --force-recreate --remove-orphans --exit-code-from gunicorn gunicorn
ExecStop=/usr/bin/podman compose --profile prod down gunicorn
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
