{% extends "skeleton.html" %}
{% load stream_status %}
{% load static %}

{% block body %}
    <header>
        <nav>
            <div style="display: flex; align-items: center;">
                <a href="{% url 'home' %}">
                    <img src="{% static 'logo.png' %}" width=60 alt="TraceT Logo">
                </a>
                <ul style="padding: 0 2rem;">
                    <li>
                        Triggers
                        <ul>
                            <li><a href="{% url 'triggers' %}">View all triggers</a></li>
                            <li><a href="{% url 'triggercreate' %}">Create a trigger</a></li>
                        </ul>
                    </li>
                    <li>
                        Notices
                        <ul>
                            <li><a href="{% url 'notices' %}">View all notices</a></li>
                        </ul>
                    </li>
                    <li>
                        Observations
                        <ul>
                            <li><a href="{% url 'observations' %}">View all observations</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://adacs-australia.github.io/TraceT2/" target="_blank">
                            Help<i id="help-link" class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
                <ul>
                    <li>{% stream_status %}</li>
                    <li><form id="logout" method="post" action="{% url 'logout' %}">{% csrf_token %}<input type="submit" value="Log out"></form></li>
                </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}