{{ formset.management_form }}

{% for form in formset %}
    {% partialdef atca inline %}
        <fieldset id="atca-telescope" class="telescope" data-formset-prefix="{{ formset.prefix }}">
            <legend>ATCA</legend>
            {{ form }}

            {{ form.nested.management_form }}

            {% for form in form.nested %}
                {% include "tracet/forms/errors.html" with form=form %}
            {% endfor %}

            <table>
                <thead>
                    <tr>
                    {% for field in form.nested.empty_form %}
                        {% if not field.is_hidden %}
                        <th>{{ field.label }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>
                <tbody id="{{ form.nested.prefix }}-PARENT">
                    {% for form in form.nested %}
                        {% partialdef atcaband inline %}
                            <tr class="atcaband deleteable transition-opacity">
                                {% for field in form %}
                                    {% if field.is_hidden %}
                                        {{ field }}
                                    {% else %}
                                        <td class="field-{{ field.name }}">{{ field }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endpartialdef %}
                    {% endfor %}
                </tbody>
            </table>

            <ul class="help-text">
                {% for field in form.nested.empty_form %}
                {% if field.help_text %}
                    <li><strong>{{field.label }}</strong> {{ field.help_text }}</li>
                {% endif %}
                {% endfor %}
            </ul>

            <template id="{{ form.nested.prefix }}-template">
                {% with form=form.nested.empty_form %}
                    {% partial atcaband %}
                {% endwith %}
            </template>

            <ul>
                <li><a class="fieldset-add" template="{{ form.nested.prefix }}-template" parentnode="{{form.nested.prefix}}-PARENT" counter="id_{{ form.nested.prefix }}-TOTAL_FORMS">Add a band configuration</a></li>
            </ul>
        </fieldset>
    {% endpartialdef atca %}
{% endfor %}

{% with form=formset.empty_form %}
    <template id="atca-telescope-template">{% partial atca %}</template>
{% endwith %}